<div>
    <h1>Bienvenid@</h1>
</div>
<div>
    <h3>Chat</h3>
    <input id="chat">
    <p id="mensajesCargados"></p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>