<div>
    <h3>Ingrese los productos que desee</h3>
    <form></form>
    <div>
        <h4>Todos los productos:</h4>
        {{#each productos}}
        <div>
            <p>{{this.id}}</p>
            <p>{{this.title}}</p>
            <p>{{this.price}}</p>
            <p>{{this.thumbnail}}</p>
            <br/>
        </div>
    {{/each}}
    </div>
</div>