<div>
    <h3>Ingrese los productos que desee</h3>
    <form id="form">
        <Label>Id del producto
            <input type="number" id="id">
        </Label>
        <br/>
        <Label>Nombre
            <input type="text" id="title">
        </Label>
        <br/>
        <Label>Precio
            <input type="number" id="price">
        </Label>
        <br/>
        <Label>Imagen (URL)
            <input type="text" id="image">
        </Label>
        <br/>
        <button>Enviar producto</button>
    </form>
    <div>
        <h4 id="titleNewProd"></h4>
        <div>
            <p id="prodAgregado"></p>
        </div>
    </div>
    <div>
        <h4>Productos agregados anteriormente:</h4>
        {{#each productos}}
        <div>
            <p>Id del producto: {{this.id}}</p>
            <p>Nombre: {{this.title}}</p>
            <p>Precio: {{this.price}}</p>
            <p>Imagen(URL): {{this.image}}</p>
            <br/>
        </div>
        {{/each}}
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/productos.js"></script>